@theme{
    --color-primary-dark-red: #cc1636;
    --color-primary-red: #ff1b44;
    --color-primary-light-red: #ffa4b4;
    --color-primary-blue: #003746;
    --color-primary-soft-blue: #005162;
    --color-primary-light-blue: #369ab0;
    --color-primary-white: #fff;
    --color-secondary-granate: #601636;
    --color-secondary-violet: #eabcff;
    --color-secondary-orange: #fa8d5a;
    --color-secondary-cream: #fde8e0;
    --color-secondary-gray: #dae9ee;
    --color-secondary-dark-green: #126d45;
    --color-secondary-green: #2ddc8e;
    --color-secondary-light-green: #a2f6d3;
    --color-secondary-aqua: #008294;
    --color-tertiary-dark-granate: #450a27;
    --color-tertiary-dark-violet: #b18dfb;
    --color-tertiary-dark-orange: #ff5f00;
    --color-tertiary-dark-cream: #f9dbd6;
    --color-tertiary-dark-gray: #a0d6e2;
    --color-tertiary-darkest-gray: #001419;
    --color-tertiary-dark-green: #00ad59;
    --color-tertiary-light-granate: #b77493;
    --color-tertiary-light-violet: #fbe3ff;
    --color-tertiary-light-orange: #ffd6ba;
    --color-tertiary-light-cream: #fff6f3;
    --color-tertiary-light-gray: #edf6f7;
    --color-tertiary-light-green: #a2f6d3;
    --color-system-warning: #fed6ba;
    --color-system-dark-warning: #cc4c00;
    --color-system-dark-error: #730c1e;
    --color-base-azul-500: #00141a;
    --color-base-azul-400: #001e22;
    --color-base-azul-300: #003746;
    --color-base-azul-200: #005162;
    --color-base-azul-150: #d9f9ff;
    --color-base-azul-100: #e5fbff;
    --color-base-azul-digital: #009cc6;
    --color-base-gris-600-links: #008294;
    --color-base-gris-600: #007c9e;
    --color-base-gris-500: #369ab0;
    --color-base-gris-400: #a0d6e2;
    --color-base-gris-300: #dae9ee;
    --color-base-gris-250: #e4eff2;
    --color-base-gris-200: #edf6f7;
    --color-base-gris-150: #f5fcfc;
    --color-base-gris-100: #f5f9f9;
    --color-base-neutral-500: #252729;
    --color-base-neutral-400: #585e61;
    --color-base-neutral-300: #939da1;
    --color-base-neutral-200: #d4d8d9;
    --color-base-neutral-100: #f2f2f2;
    --color-base-rojo-500: #730c1e;
    --color-base-rojo-400: #cc1636;
    --color-base-rojo-300: #ff1b44;
    --color-base-rojo-200: #ffa4b4;
    --color-base-rojo-100: #ffe5ea;
    --color-base-naranja-500: #cc4c00;
    --color-base-naranja-400: #fe5f00;
    --color-base-naranja-300: #fa8d5a;
    --color-base-naranja-200: #fed6ba;
    --color-base-naranja-100: #fff6f0;
    --color-base-amarillo-500: #978128;
    --color-base-amarillo-600: #665305;
    --color-base-amarillo-400: #e7c53e;
    --color-base-amarillo-300: #fcd742;
    --color-base-amarillo-200: #feefb4;
    --color-base-amarillo-100: #fffae5;
    --color-base-lima-500: #8fa40e;
    --color-base-lima-400: #b8d312;
    --color-base-lima-300: #d4ee39;
    --color-base-lima-200: #f0f9b9;
    --color-base-lima-100: #fafde8;
    --color-base-verde-500: #126d45;
    --color-base-verde-400: #02ad59;
    --color-base-verde-300: #2ddc8e;
    --color-base-verde-200: #a2f6d3;
    --color-base-verde-100: #e5fff4;
    --color-base-azul-cielo-500: #003280;
    --color-base-azul-cielo-400: #0050cc;
    --color-base-azul-cielo-300: #2379ff;
    --color-base-azul-cielo-200: #b3d0ff;
    --color-base-azul-cielo-100: #e5efff;
    --color-base-crema-500: #ef9590;
    --color-base-crema-400: #f9d8d6;
    --color-base-crema-300: #fde8e0;
    --color-base-crema-200: #fff6f3;
    --color-base-crema-100: #fffcfb;
    --color-base-violeta-500: #3d0fac;
    --color-base-violeta-400: #b18dfb;
    --color-base-violeta-300: #eabcff;
    --color-base-violeta-200: #fbe3ff;
    --color-base-violeta-100: #fef7ff;
    --color-base-granate-500: #300b1b;
    --color-base-granate-400: #450a27;
    --color-base-granate-300: #601636;
    --color-base-granate-200: #b77493;
    --color-base-granate-100: #faeaf1;
    --color-base-teleton-oscuro: #331f44;
    --color-base-teleton-medio: #782f89;
    --color-base-teleton-claro: #fbf2ff;
    --color-base-teleton-amarillo: #facd01;
    --color-base-joy-medio: #66c9df;
    --color-base-oro-medio: #e9dc9f;
    --color-base-oro-claro: #fbf6df;
    --color-base-joy-app: #01b4dc;
    --font-family-banamex-text: Banamex-text;
    --font-family-banamex-display: Banamex-display;
    --font-family-banamex-micro: Banamex-micro;
    --font-size-12: 0.75rem;
    --font-size-14: 0.875rem;
    --font-size-16: 1rem;
    --font-size-18: 1.125rem;
    --font-size-20: 1.25rem;
    --font-size-24: 1.5rem;
    --font-size-28: 1.75rem;
    --font-size-32: 2rem;
    --font-size-36: 2.25rem;
    --font-size-40: 2.5rem;
    --font-size-48: 3rem;
    --font-size-80: 5rem;
}

:root{
    --color-primary-dark-red: #cc1636;
    --color-primary-red: #ff1b44;
    --color-primary-light-red: #ffa4b4;
    --color-primary-blue: #003746;
    --color-primary-soft-blue: #005162;
    --color-primary-light-blue: #369ab0;
    --color-primary-white: #fff;
    --color-secondary-granate: #601636;
    --color-secondary-violet: #eabcff;
    --color-secondary-orange: #fa8d5a;
    --color-secondary-cream: #fde8e0;
    --color-secondary-gray: #dae9ee;
    --color-secondary-dark-green: #126d45;
    --color-secondary-green: #2ddc8e;
    --color-secondary-light-green: #a2f6d3;
    --color-secondary-aqua: #008294;
    --color-tertiary-dark-granate: #450a27;
    --color-tertiary-dark-violet: #b18dfb;
    --color-tertiary-dark-orange: #ff5f00;
    --color-tertiary-dark-cream: #f9dbd6;
    --color-tertiary-dark-gray: #a0d6e2;
    --color-tertiary-darkest-gray: #001419;
    --color-tertiary-dark-green: #00ad59;
    --color-tertiary-light-granate: #b77493;
    --color-tertiary-light-violet: #fbe3ff;
    --color-tertiary-light-orange: #ffd6ba;
    --color-tertiary-light-cream: #fff6f3;
    --color-tertiary-light-gray: #edf6f7;
    --color-tertiary-light-green: #a2f6d3;
    --color-system-warning: #fed6ba;
    --color-system-dark-warning: #cc4c00;
    --color-system-dark-error: #730c1e;
    --color-base-azul-500: #00141a;
    --color-base-azul-400: #001e22;
    --color-base-azul-300: #003746;
    --color-base-azul-200: #005162;
    --color-base-azul-150: #d9f9ff;
    --color-base-azul-100: #e5fbff;
    --color-base-azul-digital: #009cc6;
    --color-base-gris-600-links: #008294;
    --color-base-gris-600: #007c9e;
    --color-base-gris-500: #369ab0;
    --color-base-gris-400: #a0d6e2;
    --color-base-gris-300: #dae9ee;
    --color-base-gris-250: #e4eff2;
    --color-base-gris-200: #edf6f7;
    --color-base-gris-150: #f5fcfc;
    --color-base-gris-100: #f5f9f9;
    --color-base-neutral-500: #252729;
    --color-base-neutral-400: #585e61;
    --color-base-neutral-300: #939da1;
    --color-base-neutral-200: #d4d8d9;
    --color-base-neutral-100: #f2f2f2;
    --color-base-rojo-500: #730c1e;
    --color-base-rojo-400: #cc1636;
    --color-base-rojo-300: #ff1b44;
    --color-base-rojo-200: #ffa4b4;
    --color-base-rojo-100: #ffe5ea;
    --color-base-naranja-500: #cc4c00;
    --color-base-naranja-400: #fe5f00;
    --color-base-naranja-300: #fa8d5a;
    --color-base-naranja-200: #fed6ba;
    --color-base-naranja-100: #fff6f0;
    --color-base-amarillo-500: #978128;
    --color-base-amarillo-600: #665305;
    --color-base-amarillo-400: #e7c53e;
    --color-base-amarillo-300: #fcd742;
    --color-base-amarillo-200: #feefb4;
    --color-base-amarillo-100: #fffae5;
    --color-base-lima-500: #8fa40e;
    --color-base-lima-400: #b8d312;
    --color-base-lima-300: #d4ee39;
    --color-base-lima-200: #f0f9b9;
    --color-base-lima-100: #fafde8;
    --color-base-verde-500: #126d45;
    --color-base-verde-400: #02ad59;
    --color-base-verde-300: #2ddc8e;
    --color-base-verde-200: #a2f6d3;
    --color-base-verde-100: #e5fff4;
    --color-base-azul-cielo-500: #003280;
    --color-base-azul-cielo-400: #0050cc;
    --color-base-azul-cielo-300: #2379ff;
    --color-base-azul-cielo-200: #b3d0ff;
    --color-base-azul-cielo-100: #e5efff;
    --color-base-crema-500: #ef9590;
    --color-base-crema-400: #f9d8d6;
    --color-base-crema-300: #fde8e0;
    --color-base-crema-200: #fff6f3;
    --color-base-crema-100: #fffcfb;
    --color-base-violeta-500: #3d0fac;
    --color-base-violeta-400: #b18dfb;
    --color-base-violeta-300: #eabcff;
    --color-base-violeta-200: #fbe3ff;
    --color-base-violeta-100: #fef7ff;
    --color-base-granate-500: #300b1b;
    --color-base-granate-400: #450a27;
    --color-base-granate-300: #601636;
    --color-base-granate-200: #b77493;
    --color-base-granate-100: #faeaf1;
    --color-base-teleton-oscuro: #331f44;
    --color-base-teleton-medio: #782f89;
    --color-base-teleton-claro: #fbf2ff;
    --color-base-teleton-amarillo: #facd01;
    --color-base-joy-medio: #66c9df;
    --color-base-oro-medio: #e9dc9f;
    --color-base-oro-claro: #fbf6df;
    --color-base-joy-app: #01b4dc;
}
